.intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-main-title);
  font-weight: bold;
  z-index: 9999;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.intro-text {
  font-size: 7rem;
}


.intro-text {
  transition: opacity 0.3s ease-in-out;
}

.slide-up {
  animation: slideUp 0.8s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
}



@media (max-width: 1024px) and (min-width: 768px) {
  .intro-text {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .intro-text {
    font-size: 2.5rem;
  }
}