.HomePage2Container {
  width: 100vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.marquee-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.HomePage2TextUpper,
.HomePage2TextLower {
  font-size: 8vw;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-extrabold);
  white-space: nowrap;
  will-change: transform;
  position: absolute;
  width: max-content;
  margin: 0;
  overflow: hidden;
}

.HomePage2TextUpper {
  top: 0%;
  color: var(--color-background-dark);
  text-shadow: -2px -2px 0 var(--color-primary), 2px -2px 0 var(--color-primary),
    -2px 2px 0 var(--color-primary), 2px 2px 0 var(--color-primary);
  opacity: 80%;
  height: 100px;
}

.HomePage2TextLower {
  bottom: 0%;
  color: var(--color-accent);
  opacity: 50%;
  justify-content: baseline;
  align-items: flex-end;
  height: 100px;
  display: flex;
}

@media (max-width: 1024px) {
  .HomePage2Container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .HomePage2Container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    overflow: hidden;
    
  }
}